{% if include.post %}
<a class="list-item box" href="{{post.url}}">
    <div class="list-item-content px-4">
      <div class="list-item-title is-flex is-justify-content-space-between text-para-3 ">
        <p>{{ post.title }}</p> 
      </div>
      <div class="list-item-description text-para-2">{{ post.description }}</div>
      <span class="has-text-weight-normal has-text-grey mt-4">{{ post.date | date: "%Y-%m-%d" }}</span>
    </div>
    <div class="list-item-image">
      <figure class="image is-128x128">
        <img class=" has-object-fit-cover" style="height: 100%;" src="/assets/images/blog/penguin.webp">
      </figure>
    </div>

  </a>
  {% endif %}