<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Start With K</title>
    <link rel="stylesheet" href="/assets/css/bulma.css">
    <link rel="stylesheet" href="/assets/css/style-ori.min.css">
    <link rel="stylesheet" href="/assets/css/style-article.css">
    <link rel="icon" type="image/svg+xml" href="/assets/images/logo/K.png" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {% include navigation.html  %}
    <main class="section">
      <div class="container">
        {{ content }}
      </div>
    </main>
    <script src="/assets/js/scripts.js"></script>
  </body>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        @2025 ❤ Start With K
      </p>
    </div>
  </footer>
</html>